framework:
    translator: { fallback: "en" }

parameters:
    app_name: gooddata-writer
    encryption_key:
    user_agent: 'Keboola GoodData Writer'

    gdwr_aws:
        access_key:
        secret_key:
        region: us-east-1
        queue_url:
    gdwr_gd:
        access_token:
        domain: keboola
        project_name_prefix: KBC
        sso_provider: dev.keboola.com
        users_domain: clients.keboola.com
    gdwr_invitations:
        domain: keboola-devel
        email: gooddata-robot@keboola.com
        password:
        ruby_path:
    gdwr_key_passphrase:
    gdwr_scripts_path: /www/syrup-router/components/gooddata-writer/current/GoodData

    database_driver: pdo_mysql
    database_host: localhost
    database_port: 3306
    database_name: symfony
    database_user: root
    database_password:

    uploader:
        aws-access-key:
        aws-secret-key:
        s3-upload-path:

    components:
        gooddata-writer:
            bundle: Keboola\GoodDataWriter\KeboolaGoodDataWriterBundle