<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="Tests/bootstrap.php">
	<php>
		<server name="KERNEL_DIR" value="vendor/syrup/development-bundle/app/" />
        <ini name="display_errors" value="true"/>
	</php>
    <testsuites>
        <testsuite name="KeboolaGoodDataWriterTests">
			<file>Tests/Controller/WritersTest.php</file>
			<file>Tests/Controller/ProjectsTest.php</file>
			<file>Tests/Controller/UsersTest.php</file>
			<file>Tests/Controller/FiltersTest.php</file>
			<file>Tests/Controller/DatasetsTest.php</file>
			<file>Tests/Controller/JobsTest.php</file>
			<file>Tests/Controller/ProxyTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
