<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php">
	<php>
		<server name="KERNEL_DIR" value="vendor/syrup/development-bundle/app/" />
	</php>
    <testsuites>
        <testsuite name="Keboola GoodData Writer">
			<file>Tests/Controller/WritersTest.php</file>
			<file>Tests/Controller/DatasetsTest.php</file>
			<file>Tests/Controller/ProjectsTest.php</file>
			<file>Tests/Controller/UsersTest.php</file>
			<file>Tests/Controller/FiltersTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
